body {
    background-color:rgb(224, 218, 218);
}
h1 {
    text-align: center;
    color:#dfbbf5;
    font-family: Georgia;
    font-size: 200%;
    margin-top: 50px;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #dfbbf5;
    font-size: large;
    text-align: center;
    font-size: 150%;
    letter-spacing: 2px;
}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #c36ef8;
    font-size: large;
    font-size: 150%;
    letter-spacing: 2px;
}
.user-div{
    border: 3px solid #f8f680;
    border-radius: 75px;
    padding: 40px;
    width: 300px;
    margin:0 auto;
    background-color: #2eb9fab9;

}
.logo{
    border-radius: 50%;
    width: 300px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
#login-error-msg-holder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}
  
#login-error-msg {
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #d60000;
    opacity: 0;
}
#create-user-msg-holder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}
  
#create-user-msg {
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #d60000;
    opacity: 0;
}
#error-msg{
    display: block;

}

#updateProfile{
    border: 3px solid #f8f680;
    border-radius: 75px;
    padding: 40px;
    width: 300px;
    margin:0 auto;
    background-color: #2eb9fab9;
    float: right;
}
