<!DOCTYPE html>
    <html>
        <head>
            <title>Welcome to your personal Match profile</title>
            <link rel="stylesheet" type="text/css" href="css/index.css"> 
            <meta charset="utf-8">
            
        </head>
        <body>
            <div>
                <img class="logo" src="logo.jpeg">
            </div>
            <div class="topbar">
                <h3>User</h3>
            <form id="user" class="user">
                <button id="logout" onClick="logout()" class="profile-btn">Log out</button>
                <button id="deleteuser" onClick="deleteUser()" class="profile-btn">Delete Match account</button>
            </form>
        </div>
        </body>
    <script src="/model/profile.js"></script>
</html>
