<!DOCTYPE html>
    <html>
        <head>
            <title>Sign up to join</title>
            <link rel="stylesheet" type="text/css" href="index.css"> 
        </head>
        <body>
            <div>
                <img class="logo" src="logo.png">
            </div>
        <!--<h1>Match made in heaven</h1>-->
            <div class="login-div">
               
            <form>
                <h2>Sign up here</h2>
            </form>
                
            </div>
            

        </body>
</html>
