<!DOCTYPE html>
    <html>
        <head>
            <title>Welcome to your personal Match profile</title>
            <link rel="stylesheet" href="./css/index.css" type="text/css"> 
            <meta charset="utf-8">
            <script src="profile.js" defer></script>
            <script src="../controller/profileStorage.js" defer></script>
        </head>
        <body>
            <div>
                <img class="logo" src="logo.jpeg">
            </div>
            <h3>Welcome</h3>
            <form id="user" class="user">
                <input id="logoutbtn" type="submit" onsubmit="logout()" value="Logout"> 
                <input id="deleteUserbtn" type="submit" onsubmit="deleteUser()" value="Delete user"> 
            </form>
        </div>
        <p>All your matches:</p>
        <div>
            <form id="matches">
                <table id="matches"></table>
                <input id="removeMatchbtn" type="submit" onsubmit="remove()" value="Remove Match"> 

              </form>
         </div>
         <div class="container">
            <div class="header2">
            </div>
            <br>
            <form class="form" id="updateProfile">
                <h2>Update your profile</h2>
                <label for="">Username: </label> <br>
                    <input type="text" name="name" id="newUsername" placeholder="Change username">
            
                    <br><br><br>
    
                <label for="">Email: </label> <br>
                    <input type="email" name="email" id="newEmail" placeholder="Change email">
            
                    <br><br><br>
    
                <label for="">Password:</label>
                <br>
                    <input type="password" name="password" id="newPassword" placeholder="Change password">
           
                    <br><br><br>
    
                <label for="">Change gender: </label> <br>
                    <select name="gender" id="newGender" required>
                        <option value="blank">  </option>
                        <option value="female">Female</option>
                        <option value="male">Male</option>
                        <option value="other">Other</option>
                    </select>
    
                    <br><br><br>
    
                <label for="">Update interest:</label> <br>
                    <input type="radio" name="gender" value="Female" id="newInterest">
                    <label for="female">Female</label>
            
                    <input type="radio" name="gender" value="Male" id="newInterest">
                    <label for="female">Male</label>
            
                    <input type="radio" name="gender" value="Other" id="newInterest">
                    <label for="female">Other</label>
            
                    <input type="radio" name="gender" value="All" id="newInterest">
                    <label for="female">All</label>
    
                    <br><br>
                    <input id="updateUser" type="submit" value="Update your match profile">    
            </form>
    
        </div>
    
        <div class ="container2">
            <h3>Other Users:</h3>
            
          <form class="form2" id="otheruser">
            <table id="potentialMatch"></table>
            <button id="likeOtherUserbtn" onclick=Like() type="button">Like</button>
            <button id="dislikeOtherUserbtn" onclick=Dislike() type="button">Dislike</button>
          </form>
          
        </div>
        </body>

</html>

<!--<h1>Your profile</h1>
Your username:<br><%= user.name %>
    <br></br>
Your email:<br><%= user.email %></p>
        <br>
You are interested in:<br><%= user.interest %> 
        <br></br>
    Do you want more macthes?
    <a href="/matches/get-more">Explore here</a></p>
    <div>
        <br>
        Show me my matches 
        <a href="/matches"> Press here </a>
    </div>
    <br></br>
        <div>
        Do you want to logout?
            <br>
        <a href="/logout">Log out</a>
        </div>
</div>-->